<!-- TODO: replace the contents of this file with your own html -->
<div class="main">
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title main" id="main-title">
				Movie DB
				<span class="version" id="main-version"></span>
			</div>
			<div class="title sub" id="subTitle">The Free and Open Movie Database</div>
		</div>
	</div>
    <div class="palm-group">
        <div class="palm-group-title">Basic Search</div>
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                    	<div class="search-bar">
                    		<div id="btn_search" class="icon right submit" style="visibility:hidden;position:relative;z-index:1" x-mojo-touch-feedback="immediate"></div>
                        	<div class="textfield-search" id="txt_search" x-mojo-element="TextField"></div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

