<div class="my-scene-fade-top" x-mojo-scroll-fade="top"></div>
<div class="my-scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
<div class="genre-list">
    <div id="genreListHeader" class="palm-hasheader">
    	<div id="movieHeader" class="palm-header">Genres</div>
        <div class="palm-header-spacer"></div>
    </div>
    <div id="genreListContainer">
        <div class="palm-list" id="pkgListContainer">
        	<div x-mojo-element="List" id="lst_genres"></div>
        </div>
    </div>
</div>
<div class="palm-scrim" id="spinner-scrim">
    <div id="spinnerActivity" x-mojo-element="Spinner" />
</div>