<div class="palm-scene palm-dark">
    <div class="fullImage">
        <div id="header" class="palm-page-header fullView-header multi-line">
            <div class="fullView-header-wrapper">
                <div class="images-count">
                    <div id="headerCount" class="images-count-wrapper"></div>
                </div>
                <div id="headerName" class="palm-header-button album-name" x-mojo-tap-highlight="immediate"></div>
            </div>        
        </div>
        <div class="fullImageViewer">
            <div id="fullImageView" x-mojo-element="ImageView"></div>
        </div>
    </div>
    <div class="palm-scrim" id="spinner-scrim">
        <div id="spinnerActivity" x-mojo-element="Spinner" />
    </div>
</div>