<div class="preferences">

	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title" id="help-title">Preferences</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title" id="help-links">Movie Browse</div>
		<div class="palm-list">
			<div class="palm-row first">
				<table width="100%">	
					<tr>
						<td valign="top" align="center" valign="middle" width="65%">
							<div class="title left">Results Per Page</div>
						</td>							
						<td valign="top" align="center" valign="middle" width="35%">
							<div style="float:right;" id="int_perPageResults" name="int_perPageResults" x-mojo-element="IntegerPicker"></div>	
						</td>
					</tr>
				</table>
			</div>
			
			<div class="palm-row">
				<table width="100%">	
					<tr>
						<td valign="top" align="center" valign="middle" width="65%">
							<div class="title left">Minimum Votes</div>
						</td>							
						<td valign="top" align="center" valign="middle" width="35%">
							<div style="float:right" id="int_minVotes" name="int_minVotes" x-mojo-element="IntegerPicker"></div>	
						</td>
					</tr>
				</table>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-listSort"></div>
					<div id="listSort" x-mojo-element="ListSelector"></div>
				</div>
			</div>
		</div>		
	</div>
	
	<!--<div class="palm-group">
		<div class="palm-group-title" id="help-support">Support</div>
		<div class="palm-list" id="lst_support" x-mojo-element="List"></div>
	</div>
	
	<div class="palm-text-wrapper">
	  <div class="palm-body-text" id="appcopyright"></div>
	</div>-->
	
</div>
