<div class="browse-list">
    <div id="multiListHeader" class="palm-hasheader">
    	<div id="movieHeader" class="palm-header" style="display:none;"></div>
        <div class="palm-header-spacer"></div>
    </div>
    <div id="movieListContainer" style="display:none;">
        <div class="palm-list" id="pkgListContainer">
        	<div x-mojo-element="List" id="lst_movies"></div>
        </div>
    </div>
</div>
<div class="palm-scrim" id="spinner-scrim">
    <div id="spinnerActivity" x-mojo-element="Spinner" />
</div>